/* rgba(170, 59, 255, 0.5); - 보라색 
    #aa3bff   index.css 모두 지우기 */

/* index.css 파일은 리액트 모든 파일에 공통적으로 적용된다! */
* {
  margin: 0;
  padding: 0;

  /* 너비를 계산할 때 안쪽여백인 패딩을 같이 계산해야된다. 
  1200px 패딩 20px  --> 1240px  정렬,레이아웃 망가질 수있음

  너비를 기준으로 안쪽에 패딩같이 계산 
  1200px 패딩 20px --> 오른쪽패딩 20   왼쪽 패딩 20 나머지 1160(content) 
  */
  box-sizing: border-box;

  /*  브라우저(크롬,엣지,사파리,오페라,파이어폭스..) 기본폰트크기를 고정
    rem 단위 배수 단위로 px을 계산한다. 
    rem 단위는 기본 폰트 16px 기준으로 배수 
    반응형이나 웹->앱으로 자동으로 만들때 rem단위!

    2rem => 32px;
    1rem => 16px;
    0.5rem => 8px;
  */
  font-size: 16px;

  border-radius: 2rem;
}